body {
    background-color: salmon;
    font-family: 'Courier New', Courier, monospace;
    text-align: center
}

body p {
    color: white;
}

#prueba {
    width: 100%;
    height: 100%x;
    border: 2px solid black;
    background-color: blue;

}